<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Find Cheap Accommodation in Patagonia</title>

    <!-- Custom Fonts -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

 <%= render 'layouts/header' %>

    <!-- Post Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <h2 class="section-heading">5 Ways to Save Money on Accommodation in Patagonia</h2>
                    <p class="lead">Search on Hostelworld, Booking.com, and other popular websites and you may be immediately dissuaded from planning a trip to Patagonia. Simple dorm rooms online can run between $20 and $25/day for some of the most popular destinations, throwing a wrench in any budgeting plans. </p>

                    <p class="lead">Despite popular opinion, it’s usually possible to find reasonably priced accommodation options while on the road. During three months in Patagonia, I actually ended up spending an average of $8/day on accommodation. However, some towns will still wow you with their outrageous prices for run-down, overcrowded dorm rooms. When that tragedy strikes, turn to these five strategies for finding the cheapest accommodation in Patagonia: </p>

                    <h2 class="section-heading2">1. Don't Book in Advance</h2>

                    <p class="lead">Experienced backpackers follow the same drill: a few days before arriving in a destination, you search on Hostelworld, Booking.com, or your favorite website for the best value accommodation option and secure your bed. Yet in Patagonia, this strategy has to evolve because there’s an outsize payoff to being more flexible with your plans. </p>

                    <p class="lead">The cheapest price online might be triple the price you end up getting by just walking around town and asking. This isn’t even for “off the map” hostels. In El Chalten, for example, the cheapest hostel on numerous search engines is $18 USD during the high season. The walk-in price for the same exact dorm room was actually $8. Can you imagine sharing the same dorm room with someone paying more than double your price? Awkward.</p>

                    <p class="lead">Depending on the hostel and the season, you might be able to find some great deals on sites like Booking.com. Check in advance before arriving in the city, then if you see a better price you can use that as a bargaining chip while you’re price shopping around town. </p>

                    <h2 class="section-heading2">2. Go Offline</h2>

                    <p class="lead">In the small towns and disconnected hamlets that make up the tourist trail destinations of Southern Chile and Argentina, finding fast wi-fi and easy connectivity isn’t the norm. As such, a huge portion of hostels don’t have an online presence. </p>

                    <p class="lead">In Coyhaique, for example, there are just a handful of hostels on Hostelworld, but head to the tourist office in the main plaza and they’ll direct you to the conflagration of hospedajes and hostels all within a two block radius of each other (and right next to the grocery store). Head around price shopping and you check out the properties before making your decision. </p>

                    <p class="lead">In every town there’s cheaper options, you just have to find them. Check out the <strong>Destinations</strong> section of this guide for the cheapest hostels and most accessible campgrounds in every city along the traveling trail.</p>

                    <h2 class="section-heading2">3. Camping</h2>

                    <p class="lead">Camping will go down alongside cooking and hitchhiking as the top three ways to save money in Patagonia. For those travelers who are flying straight to Patagonia, it’s normal to purchase camping gear ahead of time. In Europe and North America you’ll get better quality, but in South America the prices will be cheaper. Wondering what to buy and where to buy it? All that is covered in the book's <strong>Gear</strong> section.</p>


                    <p class="lead">Don’t underestimate how fast camping will pay off! Campgrounds will usually end up coming in at half the price of a normal hostel, and purchasing the equipment can pay for itself in as little as 4 nights during the high season. Here are the three main reasons to love camping in Patagonia: </p>

                    <ul>
                      <li><p class="lead"><strong>Cost:</strong> Merely renting a tent for the 5 day Torres del Paine hilke will run a minimum of $60 dollars for the W ($100 for the 9 day O), whereas purchasing a tent will cost maybe half the price. One important consideration is where your purchase the tent: the North of Argentina and Chile will be considerably more economical, but if you’re not heading there, you can also stop at Punta Arenas’ tax-free shopping mall with camping stores. Additionally, many campgrounds within National Parks are 100% free, driving down one of the biggest daily expenses.</p></li> 

                      <li> <p class="lead"><strong>Flexibility:</strong> Hostels might fill up, but campgrounds almost always have room to squeeze in one more tent. Never worry about being stranded without a bed or overpaying for an expensive hostel if you can rough it in a tent for at least one night.</p></li>

                      <li><p class="lead"><strong>Beauty:</strong> There are only a few places in the world where you can open your front door to sunrise views like this, and many of them are campsites in Patagonia.</p></li>
                    </ul>

                    <a href="#">
                        <img class="img-responsive" src="/assets/sunrise.jpg" alt="sunrise">
                    </a>
                    <span class="caption text-muted">Sunrise in Cerro Castillo National Park on Chile's Carretera Austral</span>

                    <h2 class="section-heading2">4. Workaway</h2>

                    <p class="lead">Workaway is one of the most popular marketplaces connecting travelers to volunteer jobs at hostels and cultural exchange programs. Usually participants work at a hostel or local business in exchange for food and accommodation. </p>

                    <h2 class="section-heading2">5. WWOOFing</h2>

                    <p class="lead">WWOOF is a network of organic farms that have a great presence in Patagonia, specifically in the lakes district. On their website you can search by location for farms and learn more about the different opportunities to get your hands dirty while availing yourself of a different type of traveling experience. There are a plethora of options near Bariloche and El Bolson in Argentina’s lakes district or the Coyhaique surrounding area on Chile’s Carretera Austral.  </p>

                    <p class="lead">But life also doesn’t have to be so formalized: people in Patagonia are generally outwardly friendly, especially in rural areas. If you’re on a longer trip and ready to settle down for a few weeks, just ask at your hostel if they want some help in exchange for free or discounted accommodation. </p>



                </div>
            </div>
        </div>
    </article>

    <hr>

  <%= render 'layouts/signup' %>
  <%= render 'layouts/footer' %>

</body>

</html>
