<%= render 'layouts/header' %>

<h1>Unfortunately, Patagonia On A Budget is not available yet. In the meantime, please check out our blog for all the latest news and traveling advice! </h1>

<%= render 'layouts/footer' %>