<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Patagonia Packing List</title>

    <!-- Custom Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

</head>

<body>

 <%= render 'layouts/header' %>

    <!-- Post Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <br>
                    <h2 class="section-heading">Recommended Products for Traveling in Patagonia</h2>

                    <p class="lead">What follows are the products I recommend purchasing before heading off on your excursion to Patagonia. By no means is this an exhaustive packing list, but rather a collection of the universal requirements that are easily available for purchase online. For more information and an exhaustive packing list for both traveling and camping in Southern Chile and Argentina, check out <%= link_to "Patagonia On A Budget", "/subscribers" %></p>

                    <h2 class="section-heading2">Portable Battery</h2>

                    <p class="lead">It’s the ubiquitous addition to the traveling lifestyle that is truly essential, and Patagonia is definitely one place you don’t want to be without it. Purchase a high quality external battery with USB inputs to charge your phone, camera, and any other electronics and you’ll never have to worry about your phone battery dying on the bus again.</p>

                    <p class="lead">Bring one that can fill your phone 3 or more times, not just a single charge. The one I recommend holds at least 7 charges</p>

                    <a href="http://amzn.to/29UQb4d"><p class="lead">Anker Portable Charger</p></a>

                    <h2 class="section-heading2">Power Converter</h2>

                    <p class="lead">If you’re shipping over to South America from Europe, North America, or Australia (as well as most other countries in the world), you’ll definitely need to invest in a power converter. As Chile and Argentina each sport different outlets, simplify things by bringing a Universal adapter.</p>

                    <a href="http://amzn.to/29URCiY"><p class="lead">Universal Travel Adapter</p></a>

                    <h2 class="section-heading2">Headlamp</h2>

                    <p class="lead">Whether you’re walking to the bathroom at night, inside a dorm room when everyone else is sleeping, or looking for something in your tent with no light, having a headlamp is tremendously useful. Purchase a simple battery powered headlamp and make sure it’s fully charged before setting off on a pre-sunrise hike.</p>

                    <a href="http://amzn.to/29UQT1C"><p class="lead">LED Camping Headlamp</p></a>

                    <p class="lead">Alternatively, you can put your new portable battery to work and never worry about the batteries running out by getting one that is USB rechargeable.</p>

                    <a href="http://amzn.to/2aFrQMW"><p class="lead">USB Rechargeable Headlamp</p></a>

                    <h2 class="section-heading2">E-Reader</h2>

                    <p class="lead">For those long stretches of time while when you’ll be stuck on the bus, hitchhiking, or waiting for some other insane reason the mentally curious and those who want to maintain a light load will find outsize value in an e-reader. The kindle paperwhite is my top choice here in terms of sheer value, coming in at a price of $120</p>

                    <a href="http://amzn.to/2a7H9Mw"><p class="lead">Kindle Paperwhite</p></a>

                    <h2 class="section-heading2">Microfiber Towel</h2>

                    <p class="lead">Invest in a microfiber towel, because they take up less space and dry faster, which is helpful when you want to shower and leave the hostel or campsite a few hours later.</p>

                    <a href="http://amzn.to/2a7IByu"><p class="lead">Microfiber Towel</p></a>


                    <h2 class="section-heading2">Backup SD Card</h2>

                    <p class="lead">Should you lose your SD card or other storage device for your camera, you won’t want to be left without one to capture all the awesome moments. Investing in a spare one ahead of time can provide peace of mind and less stress should anything go wrong.</p>

                    <a href="http://amzn.to/29URQXv"><p class="lead">32GB SD Card</p></a>

                    <h2 class="section-heading2">Travel Insurance</h2>

                    <p class="lead">Even if you’re just headed out on a short trip, Travel Insurance can be a lifesaver. Whether it’s lost luggage, a bus cancellation, or a stolen wallet, it’s always great to know in the back of your head that you’re covered by insurance.</p>

                    <p class="lead">Before purchasing a policy, read the fine print and make sure the contract makes sense for your type of trip, based on the countries and activities planned. The travel insurance company that I recommend is World Nomads, simply because they offer fantastic coverage, simple rules, and helpful customer service. Get a quote right away using the tool below:</p>

                    <script src='https://www.worldnomads.com/Partner/GetPartnerWidget?partnerCode=mttmrg&source=&loadWithPanelExpanded=true&cssVariant=landscape' async></script>
                    <div id='wn-insurance-quote-editor'></div>


                    <h2 class="section-heading2">In Patagonia, by Bruce Chatwin</h2>

                    <p class="lead">Chatwin's classic book winds through the entire region of Patagonia, enthralling readers with tales of humanity and history among the vast unclaimed wilderness.</p>

                    <a  href="http://amzn.to/29ZmAlX"><p class="lead">In Patagonia on Amazon</p></a>

                    <h2 class="section-heading2">Vagabonding, by Rolf Potts</h2>

                    <p class="lead">Vagabonding is about taking time off from your normal life—from six weeks to four months to two years—to discover and experience the world on your own terms. Veteran shoestring traveler Rolf Potts shows how anyone armed with an independent spirit can achieve the dream of extended overseas travel.</p>

                    <a  href="http://amzn.to/2aFsfz9"><p class="lead">Vagabonding on Amazon</p></a>

                    <h2 class="section-heading2">The Tower, by Kelly Cordes</h2>

                    <p class="lead">Patagonia’s Cerro Torre, considered by many the most beautiful peak in the world, draws the finest and most devoted technical alpinists to its climbing challenges. But controversy has swirled around this ice-capped peak since Cesare Maestri claimed first ascent in 1959. Since then a debate has raged, with world-class climbers attempting to retrace his route but finding only contradictions. This chronicle of hubris, heroism, controversies and epic journeys offers a glimpse into the human condition, and why some pursue extreme endeavors that at face value have no worth.</p>

                    <a  href="http://amzn.to/29ZmZEP"><p class="lead">The Tower on Amazon</p></a>

                    <h2 class="section-heading2">Enduring Patagonia, by Gregory Crouch</h2>

                    <p class="lead">Gregory Crouch is a pilgrim of Patagonia. In seven expeditions to this windswept edge of the Southern Hemisphere, he has braved weather, gravity, fear, and doubt to try himself in the alpine crucible of Patagonia. Crouch has had several notable successes, including the first winter ascent of the legendary Cerro Torre's West Face, to go along with his many spectacular failures. In language both stirring and lyrical, he evokes the perils of every handhold, perils that illustrate the crucial balance between physical danger and mental agility that allows for the most important part of any climb, which is not reaching the summit, but getting down alive. </p>

                    <a  href="http://amzn.to/29USVih"><p class="lead">Enduring Patagonia on Amazon</p></a>

                   
                </div>
            </div>
        </div>
    </article>

    <hr>

  <%= render 'layouts/signup' %>

  <%= render 'layouts/footer' %>

</body>

</html>
