<!-- Storing Product Links -->

<!-- Battery Brick -->

<iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=qf_br_asin_til&ad_type=product_link&tracking_id=mattmorgante-20&marketplace=amazon&region=US&placement=B00X5RV14Y&asins=B00X5RV14Y&linkId=3fd5dac9bcc3e05893e22dd4d41c048b&show_border=true&link_opens_in_new_window=true&price_color=333333&title_color=0066c0&bg_color=ffffff">
    </iframe>


<!-- Universal Convertor -->

<iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=tf_til&ad_type=product_link&tracking_id=mattmorgante-20&marketplace=amazon&region=US&placement=B000YN01X4&asins=B000YN01X4&linkId=3293f4fb18a4fdf0415be6c9561064b0&show_border=true&link_opens_in_new_window=true&price_color=333333&title_color=0066c0&bg_color=ffffff">
    </iframe>

<!-- Headlamp -->

<iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=tf_til&ad_type=product_link&tracking_id=mattmorgante-20&marketplace=amazon&region=US&placement=B0144RJ5AK&asins=B0144RJ5AK&linkId=65e5bdcfb6664d73affdcf1855d0ebc1&show_border=true&link_opens_in_new_window=true&price_color=333333&title_color=0066c0&bg_color=ffffff">
    </iframe>

<!-- Kindle -->

<iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=tf_til&ad_type=product_link&tracking_id=mattmorgante-20&marketplace=amazon&region=US&placement=B00ZV9PXP2&asins=B00ZV9PXP2&linkId=8c3655b36dd0c9bf119bb0f826036270&show_border=true&link_opens_in_new_window=true&price_color=333333&title_color=0066c0&bg_color=ffffff">
    </iframe>

<!-- GoPro -->
<iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=qf_sp_asin_til&ad_type=product_link&tracking_id=mattmorgante-20&marketplace=amazon&region=US&placement=B00NIYJF6U&asins=B00NIYJF6U&linkId=69ca27aba3c2890b55ba299b35ba7ba7&show_border=true&link_opens_in_new_window=true&price_color=333333&title_color=0066c0&bg_color=ffffff">
    </iframe>