   <div class="jumbotron6">
      <div class="pitch"> 
        <br>
      <h3>Have you ever dreamed of traveling to Patagonia?</h3>

      <p>I know I did...</p>

      <p>In a world of urban development and constant connectivity, this region stands alone as the ultimate destination to get away from it all. While backpacking down the coast of South America, I had trepidation about going all the way to Patagonia. I dreamed of experiencing the power of glaciers and freely exploring the vast national parks, but travel blogs and guide books warned me it was expensive, and I was scared it would eat away my travel funds.</p>

      <h3>Patagonia can be very expensive</h3>

      <p>If you've done research online like I did, you probably think a trip to Patagonia will cost thousands of dollars. Advertised prices on travel websites can be insane. Just check out a few examples: </p>

        <div class="row">
          <div class="col-md-4"><img style="max-height:200px" class="img-responsive center-block" src="/assets/tripadvisor.png" alt="Trip Advisor Package Tour to Patagonia"><br><h5>TripAdvisor would like you to believe it costs $750 to spend 3 days hiking in Los Glacieras National Park. In reality, you can do this same exact trip for less than $20!</h5></div>

          <div class="col-md-4"><img style="max-height:200px" class="img-responsive center-block" src="/assets/viator.png" alt="Viator Package Tour to Patagonia"><br><h5>Or how about two weeks in Patagonia with Viator? It will run you more than $1,500. Using Patagonia On A Budget you can visit all the exact same sites for less than $400, leaving you an extra $1,100 to spend on your trip!</h5></div>
          <div class="col-md-4"><img style="max-height:200px"  class="img-responsive center-block" src="/assets/adventuretour.png" alt="Wildlife Tour to Patagonia"><br><h5>Even if you're just headed to Torres del Paine National Park, Adventure Life will charge you an absurd $1,900. Instead, I'll walk you through the details and information you need to replicate this itinerary for less than $200!</h5></div>
        </div>
        <br>
      <h3>But there's always Lonely Planet, right?</h3>

      <p>Usually, guide books can be great resources for planning itineraries and feature reputable prices. But even picking up a guide book for Patagonia had me shuddering. The cheapest hostel in town is $25/night? Especially for Patagonia, these books compile expensive hotels and only the most famous sights, ignoring helpful resources for budget travelers!</p>

      <p>Plus, many Patagonia guides are outdated. Enormous inflation has caused prices to triple or quadruple since the most recent version, so you can't rely on the information anymore.</p>

      <p>I get it. Planning a trip to Patagonia can be frustrating. That's why I wrote Patagonia On A Budget. </p>

      <h3>In reality, Patagonia can cost just $30/day!</h3>

      <p>As I continued further South into this land of resplendent beauty, I was surprised to find that it wasn't nearly as expensive as everyone makes it out to be. In fact, <%= link_to "I traveled through the entire region on just $26/day", "/articles/budget" %> without missing out on any of the sights.</p>

      <p>Now I want to enable others to have a life-changing adventure of their own! It's my belief that Patagonia's powerful glaciers, tremendous mountains, and uniquely hospitable inhabitants should be accessible to more people, not just those with thousands of dollars to spare. 

      <p>In this book, I have compiled the tactics and insider information necessary for backpacking across all of Patagonia. Plus, I'll filter through the noise to show you the most spectacular things to do, the best places to stay, and the tactics you need to keep it all under budget. Best of all, these are the REAL PRICES, researched and personally experienced by real backpackers.</p>

      <p>Patagonia On A Budget will thoroughly prepare you for life on the road, help you navigate while traveling, remove barriers, and provide vital details simply not available anywhere else. Ready for your adventure? Let's dive in...</p>


<!--       <h3>What are you waiting for?</h3>

      <p>Patagonia is a land of almost mythical beauty</p>

      <p>If you love spending time outdoors, want to experience the glaciers before they melt away, and enjoy going hiking and camping through the wilderness, the Southern tip of Chile and Argentina is for you!</p> -->
      <!-- You'll be ready thanks to comprehensive preparation resources; once on the ground you'll know the best value for accommodation and adventure in each town. -->
    </div> 
    <h2>What's Inside?</h2>
    <!-- close jumbotron -->
  </div> 