<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul class="list-inline">
                    <li>
                        <%= link_to "Home", root_path %>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <%= link_to "Blog", "/articles/index"%>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <%= link_to "Contact", "/pages/show"%>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <%= link_to "Purchase", "/subscribers"%>
                    </li>
                </ul>
                <p class="copyright text-muted small">Copyright &copy; Matt Morgante 2016. All Rights Reserved</p>
            </div>
        </div>
    </div>
</footer>