<div class="container" id="testimonials-row">    
    <div class="row">
      <div class="col-md-12 column">    
        <h2 class="page-header">What do readers have to say?</h2>
        <div class="carousel slide" id="testimonials-rotate">
          <div class="carousel-inner">
            <div class="item active">   
              <div class="col-md-2"><img alt="" src="/assets/sutyak.jpg" class="img-circle img-responsive"/></div>
                <div class="testimonials col-md-10">
                  <h4> I only had three weeks.  Three weeks to uncover the endless and mind blowing natural beauty of Patagonia in South America.  Where would I go?  What should I see?  How far would my money go?  I was at a loss, but determined to get the most out of my trip.  Then I came across this fantastic book.  It laid out exactly where to go, what major sites to see, and where to stay, all while making sure I was able to navigate to through the region and back to Buenos Aires cost-effectively. I recommend this book highly to anyone, whether you’re planning your first trip or your fifth to the edge of the world. - <small>Michael S., U.S.A.</small>
                  </h4>

                </div>

                <div class="clearfix"></div>
              </div>
              <div class="item">  
                <div class="col-md-2"><img alt="" src="/assets/liesbeth.jpg" class="img-circle img-responsive"/></div>
                <div class="testimonials col-md-10">

                <h4>This book will give you peace of mind and enable you to experience Patagonia to the fullest on a reasonable budget. For example, if you want to do a ice hike many recommend to do this in Torres Del Paine National Park, which is expensive and crowded. The alternative that's recommended in the book is cheaper and off the beaten path; when we did it, it was just the two of us on the glacier - an unforgettable experience!</h4>

                <h4>That's what this book will give you: unique adventures, detailed prices and practical information. We would have loved to read this book before our departure because it's designed to make anyone's trip in Patagonia much easier. - <small>Liesbeth M., Belgium</small>
                </h4>

                </div>

    <div class="clearfix"></div>
    </div>
    <div class="item">
    <div class="col-md-2"><img alt="" src="/assets/becky.jpg" class="img-circle img-responsive"/></div>
    <div class="testimonials col-md-10">

    <h4>
    When I was planning my Patagonia trip, there were few resources beyond years-old forum posts and all inclusive tourist packages.  As a short term, but adventurous, traveler, I was trying to make the most of my time and leave plenty of room for spontaneity without breaking the bank or getting lost. I wish I had a comprehensive, one-stop-shop like this with recommendations and logistics to help me prioritize, plan, and be in the know for my own Patagonia adventure.<small>Becky L., U.S.A.</small>
    </h4>

    </div>

    <div class="clearfix"></div>
    </div>
    </div>
    </div>
    <div class="pull-right">
    <!--   <ol class="carousel-indicators">
          <li class="active" data-slide-to="0" data-target="#testimonials-rotate">
          </li>
          <li data-slide-to="1" data-target="#testimonials-rotate">
          </li>
          <li data-slide-to="2" data-target="#testimonials-rotate">
          </li>
        </ol> -->
    <a class="left" href="#testimonials-rotate" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
    <a class="right" href="#testimonials-rotate" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a><div class="clearfix"></div>  
    </div>
    </div>
    </div>
</div><!--end of container-->